.wd-assignments-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wd-icon-indentation-assignment1 {
    padding-right: 15px;
}

.wd-icon-indentation-assignment2 {
    padding-right: 30px;
}

.wd-assignment {
    margin: 0;
    text-align: left;
}