.wd-float-right {
    float: right;
}
 
.wd-float-done {
    clear: both;
}

.wd-course-status-dropdown {
    background-color: buttonface;
    border-color: buttonborder;
    color: black;
    width: max-content;
    height: max-content;
    margin: 5px;
    border: 2px;
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
}

.wd-course-status-dropdown:hover {
    background-color: #cbcbcb;
    color: black;
}

.wd-green-icon {
    color: green;
}

.wd-module-plus {
    margin: 5px; 
    background-color: red; 
    color: white; 
    border-color: red;
}

.wd-margin-5px {
    margin: 5px;
}

.wd-home-button:hover {
    background-color: #cbcbcb;
}

.wd-rounded-corners-all-around {
    border-radius: 8px;
    margin: 2px;
}

.wd-publish-all-btn {
    width: max-content;
}