.btn:hover {
    background-color: #cbcbcb;
}

.wd-green-icon {
    color: green;
}

.wd-module-plus {
    background-color: red; 
    color: white; 
    border-color: red;
}

.wd-publish-all-btn {
    width: max-content;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.wd-modules, .wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
}

.wd-modules > li > div {
    padding: 6px;
}

.wd-modules > li > ul > li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}