.wd-container {
    text-align: center;
    color: white;
}

.wd-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

p.wd-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @media screen and (min-width: 710) {
    .wd-kanbas-nav-bar {
      background-color: lightgreen;
    }
} */