/* For the section of the screen that is not the Kanbas Navigation bar. */
.wd-settings-col-num2 {
    padding-left: 40px;
}

/* Change the padding of a wd-col-num2 element when the browser window is 767px wide or less. */
@media only screen and (max-width: 767px) {
    .wd-settings-col-num2 {
        padding-left: 0;
        padding-right: 0;
    }
}