.wd-course-card-col {
    width: 260px; 
    margin-top: 35px;
}

.wd-card-image {
    max-height: 150px;
}

.wd-card-title {
    text-decoration: none; 
    color: navy; 
    font-weight: bold;
}

.wd-three-dot-menu {
    text-align: right; 
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    border-left: 0;
}

.wd-dashboard {
    background-color: rgba(254, 254, 254, 0.97);
}

.wd-dashboard-component {
    padding-top: 10px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
}