.wd-add-assignment {
    margin: 5px; 
    background-color: red; 
    color: white; 
    border-color: red;
}

.wd-rounded-corners-all-around {
    border-radius: 8px;
    margin: 2px;
}

.wd-assignment-button:hover {
    background-color: #cbcbcb;
}

.wd-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wd-assignment a {
    color:black;
    text-decoration: none;
}

.wd-float-done {
    clear: both;
}

.wd-percentage-label {
    margin-right: 10px;
    border-style: solid;
    border-radius: 18px;
    background-color: buttonface;
    border-color: buttonborder;
    color: black;
    border-width: thin;
    padding: 3px;
}

.wd-pencil-paper {
    color: green;
    padding-right: 5px;
    font-size: x-large;
}

.wd-week-span {
    font-size: 14px;
    padding-left: 48px;
}