.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  
    margin: 0px;
    width: 80px;
    position: fixed;
    overflow-y: auto;
    height: 100%;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-react-icon {
    color:red;
}