/* Used to adjust the size of the right most column, so the two navigation bars disappear together and do not overlap.
@media screen and (max-width: 669px) {
    .wd-right-most-col {
        width: 115px;
    }
} */

@media screen and (max-width: 1250px) {
    .wd-right-most-col {
        display: none;
    }
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-select {
    -webkit-appearance: menulist-button;
    height: 28px;
    float: right; 
    margin: 5px;
    border-radius: 8px;
    background-color: buttonface;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    height: 30px;
}

.wd-coming-up-todo-row {
    margin: 0;
}

.wd-subheader-coming-up {
    padding-left: 45px; 
    margin: 0;
}

.wd-subheader-to-do {
    padding-left: 45px; 
    margin: 0;
}

.wd-collapsible {
    color: black;
    background-color: buttonface;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0;
}

.wd-content {
    /* padding: 0 18px; */
    /* display: none; */
    /* overflow: hidden; */
    background-color: white;
    margin: 0;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.wd-week-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wd-week-row {
    border-color: buttonborder;
    border-width: 2px;
}

.wd-week {
    margin: 0;
    text-align: left;
}

.wd-icon-indentation-week {
    padding-right: 30px;
}

.wd-hyperlinks {
    text-decoration: none;
    color: red;
    padding: 0; 
    margin: 0;
}

.wd-rounded-corners-all-around {
    border-radius: 8px;
    margin: 2px;
}

.wd-home-button:hover {
    background-color: #cbcbcb;
}

.wd-course-status-button {
    text-align: left;
}

.wd-float-right {
    float: right;
}
 
.wd-float-done {
    clear: both;
}

.wd-content-nav {
    background-color: white;
    overflow-y: auto;
}

.wd-content-nav a {
    color: red;
    background-color: white;
    text-decoration: none;
    margin: 5px;
}

ul.wd-no-bullets {
    list-style-type: none;
}

ul.wd-no-bullets li {
    margin: 10px;
}

ul.wd-content-nav {
    margin: 10px;
}

.wd-box-close {
    position: absolute;
    top: 0;
    right: 15px;
    text-decoration: none;
}

.wd-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wd-course-status-button {
    background-color: buttonface;
    border-color: buttonborder;
}

.wd-course-status-dropdown {
    background-color: buttonface;
    border-color: buttonborder;
    color: black;
    width: max-content;
    height: max-content;
    margin: 5px;
    border: 2px;
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
    /* opacity: 0; */
}

.wd-course-status-dropdown:hover {
    background-color: #cbcbcb;
    color: black;
}

.wd-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: black;
    padding: 0;
    width: 100%;
    color: white;
}
  
.wd-flex-container > div {
    background-color: inherit;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right:  var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, ">");
}

.wd-small-navbar {
    background-color: black; 
    color: white; 
    border: none;
}