.wd-course-status-button {
    text-align: left;
    border-radius: 8px;
    margin: 2px;
    background-color: buttonface;
    border-color: buttonborder;
    color: black;
}

.wd-course-status-button:hover {
    background-color: #cbcbcb;
}

.wd-enabled-btn {
    background-color: green;
    opacity: 0.5;
    color: white;
}

.wd-coming-up-todo-row {
    margin: 0;
}

.wd-subheader-coming-up {
    padding-left: 45px; 
    margin: 0;
}

.wd-subheader-to-do {
    padding-left: 45px; 
    margin: 0;
}

.wd-hyperlinks {
    text-decoration: none;
    color: red;
    padding: 0; 
    margin: 0;
}