.wd-course-status-button {
    text-align: left;
    border-radius: 8px;
    margin: 2px;
    background-color: buttonface;
    border-color: buttonborder;
    color: black;
}

.wd-course-status-button:hover {
    background-color: #cbcbcb;
}

.wd-enabled-btn {
    background-color: green;
    opacity: 0.5;
    color: white;
}